
  <!-- <div class="container">
  <div class="row"> -->
    <!-- <ul class="nav nav-pills" >

  <li routerLinkActive="active" ><a [routerLink]= "['home']" >Home</a></li>
  <li routerLinkActive="active"><a [routerLink]= "['userdetails']">UserDetail</a></li>
  <li routerLinkActive="active"><a routerLink="/contact">Task</a></li>
    </ul> -->
    <!-- [routerLinkActiveOptions]="{exact:true}" -->
    
<div>
    <!-- <nav class="navbar1   navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="../../assets/images/syflogo2.png" style="width:100px;height:39.5px;"/>
                </div>
         
          <ul class="nav  nav-pills ">
              <li routerLinkActive="active" ><a [routerLink]= "['home']" >Home</a></li>
              <li routerLinkActive="active"><a [routerLink]= "['userdetails']">UserDetail</a></li>
              <li routerLinkActive="active"><a routerLink="#">Task</a></li>
              <li routerLinkActive="active"><a routerLink="#">Project</a></li>
              <li routerLinkActive="active"><a routerLink="#">User</a></li>
          </ul>
        </div>
      </nav> -->
        <app-menu></app-menu>
    </div>
  <!-- </div> -->


  <div class="container" style="margin-top:50px">
      <!-- <div  style="font-size:8px;">User: {{loginservice.username}}</div>
      <div style="font-size:8px;">Role: {{loginservice.rolename}}</div>  -->
     
      <router-outlet ></router-outlet>
          
      </div>
     
  <!-- </div> -->
  