<form #loginForm="ngForm"  >
   <!-- (ngSubmit)="LogIn(UserName.value,Password.value)" -->
<div class="parentContainer">
  <div class="childContainer">
  
      <div class="divLeft">
        <img src="../../assets/images/syflogo2.png" style="width:80%;height: auto; padding-top: 60%;padding-left: 10%;padding-right: 10%"/>
      
     
      </div>
      
      <div class="divRight" style="padding-left: 5% " >
        

            <div class="form-group row" ></div>
            <div class="form-group row" style="padding-top:6%" >
             <div class="col-sm-5">
               <label class="form-label">Login</label>/Sign up
             </div>
              </div>
              <div class="form-group row" ></div>
              <div class="form-group row" ></div>
              <div class="form-group row" ></div>
              
             <div class="form-group row"  >
               
               
                 <div class="col-sm-5">
                    <input type="text" #UserName ngModel name="UserName" placeholder="UserName" required>
                 </div>
                
             </div>
            <!-- -->   
             <!--Password-->
             
             <div class="form-group row" style="margin-bottom: 10px;"   >
               
                
                   <div class="col-sm-4">
                       <!-- <input type="password" id="logInPassword" name="password" class="toggle-password" data-toggle="password" style="border:none"   [(ngModel)]="password"  placeholder="Password" /> -->
                       <input type="password" #Password ngModel name="Password" placeholder="Password" required>
                      
                     </div>
                 
               </div>
               <div class=" form-group  alert alert-danger" style="padding-left: 1%; text-align: center;width: 98%;font-size: 12px; " *ngIf="errormessage">
                   
                      {{errormessage}}
                      </div>
               <div class="form-group row">
                  <div class="col-sm-4">
                    </div>
                  <div class="col-sm-3">
                    <button class="btn-primary " type="submit" (click)="logme(UserName.value,Password.value)"  [disabled]="!loginForm.valid" >Log In</button>
                  </div>
                </div>
    
         <!-- <div class="row">
           <div class="input-field col s12">
             <i class="material-icons prefix">account_circle</i>  
             <input type="text" #UserName ngModel name="UserName" placeholder="UserName" required>
           </div>
         </div>
         <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>  
            <input type="password" #Password ngModel name="Password" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn-large btn-submit" type="submit" [disabled]="!loginForm.valid">Log In</button>
          </div>
        </div> -->

    
         

        

      </div>
  </div>
</div>
</form>