<!-- <table id="dg" style="width:650px;height:250px"
url="http://localhost:1233/api/taskdetails" 
title="DataGrid - SubGrid"
singleSelect="true" fitColumns="true">
<thead>
<tr>
    <th field="itemid" width="80">Item ID</th>
    <th field="productid" width="100">Product ID</th>
    <th field="listprice" align="right" width="80">List Price</th>
    <th field="unitcost" align="right" width="80">Unit Cost</th>
    <th field="attr1" width="220">Attribute</th>
    <th field="status" width="60" align="center">Status</th>
</tr>
</thead>
</table> -->
<div>
<div id="chartContainer"><a style="cursor: pointer" (click)="openDialog()">Click Here</a></div>
<button class="btn invisible" id="backButton">< Back</button>
<a style="cursor: pointer" (click)="openDialog()">Click Here</a>

</div>

