<form  class="userdetail-form" #userdetailForm="ngForm">
  <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="userDetailService.selectedUserDetail.ID">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input  class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="userDetailService.selectedUserDetail.FirstName" placeholder="First Name" required>
    <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This field is required !</div>
    </div>
    <div class="form-group col-md-6">
      <input  class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="userDetailService.selectedUserDetail.LastName" placeholder="Last Name" required >
      <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This field is required !</div>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input  class="form-control" name="SSOID" #SSOID="ngModel" [(ngModel)]="userDetailService.selectedUserDetail.SSOID" placeholder="SSOID  ">
      </div>
      <div class="form-group col-md-6">
          <select  class="form-control" name="Gender" #Gender="ngModel"  [(ngModel)]="userDetailService.selectedUserDetail.Gender">
          <option value="" disabled select>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
      </select>   
      </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6" [class.has-error]="ProfEmailID.invalid && ProfEmailID.touched">
          <input  class="form-control" name="ProfEmailID" #ProfEmailID="ngModel" [(ngModel)]="userDetailService.selectedUserDetail.ProfEmailID" placeholder="Prof EmailID" required email>
          <div class="validation-error" *ngIf="ProfEmailID.errors && ProfEmailID.errors.required && ProfEmailID.touched">Prof.EmailID field is required !</div>
          <div class="validation-error" *ngIf="ProfEmailID.errors && ProfEmailID.errors.email && ProfEmailID.touched">Prof.EmailID field is invalid !</div>

        </div>
        <div class="form-group col-md-6" [class.has-error]="PersonalEmailID.invalid && PersonalEmailID.touched">
          <input  class="form-control" name="PersonalEmailID" #PersonalEmailID="ngModel" [(ngModel)]="userDetailService.selectedUserDetail.PersonalEmailID" placeholder="Personal EmailID" required email>
          <div class="validation-error" *ngIf="PersonalEmailID.errors && PersonalEmailID.errors.required && PersonalEmailID.touched">Personal EmailID field is required !</div>
          <div class="validation-error" *ngIf="PersonalEmailID.errors && PersonalEmailID.errors.email && PersonalEmailID.touched">Personal EmailID field is invalid !</div>

        </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
     <select  class="form-control" name="ReportingManagerID" id="ReportingManagerID" [(ngModel)]="userDetailService.selectedUserDetail.ReportingManagerID">
            <option value="" disabled select default>Select Reporting Manager</option>
            <option [value]="reportManager.ReportingManagerID" *ngFor="let reportManager of userDetailService.reportingManagersList">  
                {{reportManager.ReportingManagerName}}  
          </option>  
        </select>   
      </div>
    <div class="form-group col-md-6">
       <select  class="form-control" name="RoleID" id="RoleID" [(ngModel)]="userDetailService.selectedUserDetail.RoleID">
        <option value="" disabled select default>Select Role</option>
        <option [value]="role.ID" *ngFor="let role of userDetailService.roleList">  
            {{role.RoleName}}  
      </option>  
    </select>   
    </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <input  class="form-control" name="Phone" #Phone="ngModel" [(ngModel)]="userDetailService.selectedUserDetail.Phone" placeholder="Phone Number" required>
    <div class="validation-error" *ngIf="Phone.invalid && Phone.touched">This field is required !</div> 
  </div>
  
</div>
<div class="form-row">
  <div class="form-group col-md-8">
    <button type="submit" [disabled]="!userdetailForm.valid" class="btn btn-lg btn-block btn-info" (click)="onSubmit(userdetailForm)"><i class="fa fa-floppy-o"></i> Submit</button> 
  </div>
  <div class="form-group col-md-4">
    <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(userdetailForm)"> <i class="fa fa-repeat"></i> Reset</button> 
  </div>
</div>
</form>
