<form  class="user-form" #userForm="ngForm">
  <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="UserService.selectedUser.ID">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input  class="form-control" name="UserCode" #UserCode="ngModel" [(ngModel)]="UserService.selectedUser.UserCode" placeholder="User Code" required>
    <div class="validation-error" *ngIf="UserCode.invalid && UserCode.touched">This field is required !</div>
    </div>
    <div class="form-group col-md-6">
      <input  class="form-control" name="UserName" #UserName="ngModel" [(ngModel)]="UserService.selectedUser.UserName" placeholder="User Name" required >
      <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field is required !</div>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input  class="form-control" name="Password" #Password="ngModel" [(ngModel)]="UserService.selectedUser.Password" placeholder="Password" required>
            <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field is required !</div>
	  </div>
    <div class="form-group col-md-6">
       <select  class="form-control" name="RoleID" id="RoleID" [(ngModel)]="UserService.selectedUser.RoleID">
        <option value="" disabled select default>Select Role</option>
        <option [value]="role.ID" *ngFor="let role of UserService.roleList">  
            {{role.RoleName}}  
      </option>  
    </select>   
    </div>
</div>
<div class="form-row">
  <div class="form-group col-md-8">
    <button type="submit" [disabled]="!userForm.valid" class="btn btn-lg btn-block btn-info" (click)="onSubmit(userForm)"><i class="fa fa-floppy-o"></i> Submit</button> 
  </div>
  <div class="form-group col-md-4">
    <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(userForm)"> <i class="fa fa-repeat"></i> Reset</button> 
  </div>
</div>
</form>
