
<div class="parent" style="width: 100%;">
<div style="width: 60%;float: left">
<div class="row" style="padding: 1%">
    <div class="col-md-6"  >
        <app-monthly-task></app-monthly-task>
    </div>
    <div class="col-md-6"  >
          <app-dailytask-report></app-dailytask-report>
    </div>
    
  </div>

  <div class="row" style="padding: 1%">
      <div class="col-md-6"  >
          <app-drilldown-chart></app-drilldown-chart>
      </div>
      <div class="col-md-6"  >
          <app-drilldown-bar></app-drilldown-bar>
      </div>
      
    </div>
    
  </div>
  
    <div style="width:40%;float: left;">
        <div class="row" style="padding-top: 3%">
           
            <div class="col-md-12" >
        <app-project-info></app-project-info>   
            </div>
          </div>
          <div class="row" >
           
            <div class="col-md-12" >
                <div>Task done Yesterday</div>
               
                <app-logarithim-chart></app-logarithim-chart>
            </div>
          </div>
    </div>
   
       
   

  </div>  