<table id="userdetails" >
    <tr >
        <th>Task Name</th>
        <th>Project Name</th>
        <th>Hours Spend</th>
        <th>Role Name</th>
        <th>Edit/Delete</th>
    </tr>
    <tr *ngFor="let task of taskDetailService.taskDetailList">
        <td>{{task.TaskName }}</td>
        <td>{{task.ProjectName}}</td>
        <td>{{task.HoursSpend}}</td>
        <td>{{task.RoleName}}</td>
        <td>
          <a  class="btn" (click)="showForEdit(task)">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          <a  class="btn text-danger" (click)="onDelete(task.TaskID)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
</table>
